:root{
    --text-color:black;
    --text-white:white;

    --bg-color:black;
    --bg-white:white;
    --bg-light:beige;
    
}

body{
    /*Außenabstand
    margin-top, margin-right, margin-bottom, margin-left.
    margin: 20px; (20px Abstand auf allen vier Seiten).
    margin: 10px 5px; (10px oben/unten, 5px links/rechts).*/
    margin: 0px;

    /*Innenabstand*/
    padding: 0px;

    background-color:var(--bg-white);
    color:var(--text-color);
    

    font-family: sans-serif; 
}

.site-header{
    background:var(--bg-color);
    padding: 20px 0px;
    
}

.nav-wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    justify-content: flex-start; /* Alles beginnt links */
}

.nav-list{
    display: flex;
    list-style: none; /* Entfernt die Punkte */
    gap: 50px;
    align-items: center;


}

.nav-link{
    color:var(--text-white);
    text-decoration: none; /* Entfernt en Unterstrich */
    font-family: sans-serif;  
}

.logo{
    color:var(--text-white);
    order: -1;
    margin-left: 30px;
}